body,html {
    margin:0;
    padding:0;
    cursor: url('assets/cursor.png'),default;
    background-image: url("assets/background.png");
}


#menuBar {
    height: 3.5vh;
    width: 100%;

    background-color: #421f10;
    justify-content: center;
    align-items: center;
    /* gap: 5rem; */
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    /* border: solid;
    border-color: #cfa632;
    box-shadow: 0px 0px 0px 3px #cfa632 inset; */
    border-bottom: solid transparent 1.5vh;
    /* margin: -20px; */
    background-clip: padding-box;
    border-image: url("assets/menuBorder.png") 110 round;
}

#leftMenu {
    display: flex;
    height: 5vh;
    align-items: center;
}

#rightMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
}

#menuBar * {
    padding: 0 1vw;
    position: relative;
    top: -5px;
    /* margin: auto; */
}

#left {
    width:25%;
}

#center {
    width:50%;
    background-color: rgba(255,255,255,0.2);
    /* backdrop-filter: blur(5px); */
    mask-image: linear-gradient(
        to left,
        transparent,
        black 4%,
        black 96%,
        transparent
    );
}

#right {
    width:25%;
}

#left, #center, #right {
    float:left;
    display:flex;
    height:95vh;
    align-items: center;
    flex-direction: column;
}

@font-face {
    font-family: aseprite;
    src: url(assets/AsepriteFont.ttf);
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: aseprite;
    color: white;
}

h1 {
    font-size: 400%;
    margin: 0;
}

h3 {
    font-size: 38px;
    margin: 0;
}

h2 {
    font-size: 40px;
    margin: 0;
}

p {
    font-size: 24px;
}

img {
    image-rendering: pixelated;
}

#clicker {
    transform-origin: center;
    width:25vw;
}

@keyframes scaleClicker {
    0% {transform: scale(1);}
    50% {transform: scale(1.05);}
    100% {transform: scale(1);}
}

#shopList {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y:auto;
    overflow-x: hidden;
    height: 60vh;
}

.shopItem {
    width:23vw;
    margin: 0.5vw;
}

.shopItemContainer {
    position: relative;
}

.shopItemTitle {
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 2cqw;
}

.shopItemDescription {
    position: absolute;
    top: 13%;
    left: 18%;
    width: 19vw;
    height: 2.8vh;
    line-height: 12px;
    overflow: auto;
    font-size: 1.3cqw;
}

.shopItemIcon {
    position: absolute;
    width: 11%;
    top: 20%;
    left: 5%;
}

.shopItemCost {
    position: absolute;
    font-size: 2cqw;
    right: 20%;
    line-height: 0;
}

.shopItemAmount {
    position: absolute;
    font-size: 2cqw;
    right: 10%;
    line-height: 0;
}

/* DEV CHEATS */
#debugMenu {
    background-color: #39384a;
    border-color: #17171a;
    border-style: solid;
    border-radius: 10px;
    width: 10vw;
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top:2cqh;
    left:2cqh;
}

@keyframes smallScale {
    0% {transform: scale(1);}
    50% {transform: scale(1.02);}
    100% {transform: scale(1);}
}

@keyframes wiggle {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(1deg);}
    50% {transform: rotate(-2deg);}
    75% {transform: rotate(2deg);}
    100% {transform: rotate(-1deg);}
}



#counterHolder {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}

#gainStats{
    display: none;
}


#counter:hover + #gainStats {
    display: block;
    position: absolute;
    text-align: center;
    top:40%;
    background-color: #5c6a70;
    border: solid;
    border-color: black;
    padding: 10px;
    text-wrap-mode: nowrap;
    white-space-collapse: preserve;
}

button {
    cursor: url('assets/cursor.png'),default;
}

#upgradesList {
    display: flex;
    height: 15vh;
    width: 20vw;
    overflow-y:auto;
    flex-wrap: wrap;
    justify-content: left;
    column-gap: 8px;
    align-content: flex-start;
}

.upgradeContainer {
    padding: 5px 0;
    position: relative;
}

.upgradeImage {
    width: 40px;
}
