body,html {
    margin:0;
    padding:0;
    cursor: url('assets/cursor.png'),default;
}


#menuBar {
    height: 5vh;
    width: 100%;

    background-color: blue;
    justify-content: center;
    align-items: center;
    /* gap: 5rem; */
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

#leftMenu {
    display: flex;
    height: 5vh;
    align-items: center;
}

#rightMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
}

#menuBar * {
    padding: 0 1vw;
    /* margin: auto; */
}

#left {
    width:25%;
    background-color: red;
}

#center {
    width:50%;
    background-color: green;
}

#right {
    width:25%;
    background-color: orange;
}

#left, #center, #right {
    float:left;
    display:flex;
    height:95vh;
    align-items: center;
    flex-direction: column;
}

@font-face {
    font-family: aseprite;
    src: url(assets/AsepriteFont.ttf);
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: aseprite;
    color: white;
}

h1 {
    font-size: 400%;
    margin: 0;
}

h3, h5 {
    font-size: 200%;
    margin: 0;
}

p {
    font-size: 150%;
}

#clicker {
    transform-origin: center;
    width:25vw;
    image-rendering: pixelated;
}

@keyframes scaleClicker {
    0% {transform: scale(1);}
    50% {transform: scale(1.05);}
    100% {transform: scale(1);}
}
